*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lexend', sans-serif;
}
:root{
    --bgcolor:#262d33;
    --maincolor:#f0a511;
    --acscolor:rgb(70, 25, 25);
    --tcolor:#d1d1d1;
}
body{
    color: white;
}
@media (max-width: 600px) {
    body {
        font-size: 13px;
    }
}
.container {
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .container {
        width: 90%;
        max-width: 800px;
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .container {
        width: 85%;
        max-width: 1000px;
    }
}
@media (min-width: 1201px) {
    .container {
        width: 80%;
        max-width: 1200px;
    }
}
h3{
    font-size: 2em;
    font-weight: bold;
}
.left-panel {
    height: 100vh;
    max-width: 60dvh;
    background-color: var(--acscolor);
    float: left;
    text-align: center;
    vertical-align: middle;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ul{
        padding: 0px;
        li{
            margin: 10px;
        }
    }
}
.fcontainer header{
    display: none;
}
@media (max-width: 780px){
    .left-panel{
        display: none;
    }
    .fcontainer header{
        display: block;
        height: 60px;
        width: 100%;
        background-color: var(--acscolor);
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            margin: 0px;
        }
        a{
            text-decoration: none;
            color: white;
            padding: 5px 20px;
            background-color: var(--maincolor);
            border-radius: 10px;
            font-weight: bold;
            font-size: 1.3em;
            transition: all 200ms;
        }
        a:hover{
            background-color: #a7740d;
        }
    }
}
.right-panel{
    min-height: 100dvh;
    background-color:var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 780px){
    .right-panel{
        min-height: calc(100dvh - 60px);
    }
}
/* start account form */
.formaldo{
    width: 400px;
    max-width: 95%;
    background-color: var(--acscolor);
    border-radius: 10px;
    padding: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 3px 50px 4px black;
    input,label{
        width: 90%;
        border: none;
        padding: 10px 0px;
        margin-bottom: 20px;
        color: white;
        background-color: transparent;
        caret-color: var(--maincolor);
        outline: none;
    }
    .input-wrapper {
        position: relative; 
        width: 90%; 
        margin-bottom: 20px; 
    }
    .input-wrapper::after {
        content: ''; 
        position: absolute; 
        left: -10px; 
        bottom: 20px; 
        width: calc(100% + 20px); 
        height: 2px; 
        background-color: var(--maincolor); 
        transition: background-color 200ms; 
    }
    input:focus+.input-wrapper::after {
        background-color:red;
    }
    .button {
        border-radius: 4px;
        background-color: var(--maincolor);
        width: 100%;
        margin-bottom: 30px;
        transition: all 200ms;
    }
    .button:hover{
        background-color: #a7740d;
    }
    .custom-checkbox {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 0px;
        margin-top: -15px;
        color:var(--tcolor);
        border: none;
    }
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .custom-checkbox .checkmark {
        position: absolute;
        right: 0;
        top: 0;
        height: 20px;
        width: 20px;
        background-color: var(--bgcolor); 
        border-radius: 4px; 
    }
    .custom-checkbox input:checked + .checkmark {
        background-color:var(--maincolor);
        border-color: var(--maincolor);
    }
    .custom-checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .custom-checkbox input:checked + .checkmark:after {
        display: block;
    
    }
}
/* end account form */